
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ffffff;
}

/* Navbar */

header{
    position:fixed;
    top:0;
    width:100%;
    background:#222;
    color:white;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

#themeBtn{
    color: whitesmoke;
    border-radius: 10px;
    background-color: white;
    cursor:pointer;
    padding:8px 12px;
}

#themeBtn:hover
{
    background-color: rgb(130, 118, 118);
}

/* Hero */

.hero{
    text-align:center;
    padding:150px 20px 100px;
    background:#99b3d9;
    color:rgb(255, 255, 255);
}

.profile-pic{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    margin-bottom:20px;
}

.hero-buttons{
    margin-top:20px;
}

.btn{
    display:inline-block;
    background:white;
    color:#1867de;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

.btn:hover{
    background:#222;
    color:white;
}

/* Sections */

section{
    padding:60px;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

/* Skills */

.skills-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.skill{
    background:#237fc6;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    transition:.3s;
}

.skill:hover{
    transform:scale(1.1);
}

/* Projects */

.project-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.project-card{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

/* Education */

.education-card{
    text-align:center;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

/* Contact */

#contact{
    text-align:center;
}

form{
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
textarea{
    padding:12px;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
}

/* Social */

.socials{
    text-align:center;
}

.socials a{
    display:inline-block;
    margin:10px;
    padding:10px 20px;
    background:#0d6efd;
    color:white;
    text-decoration:none;
    border-radius:25px;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

/* Dark Mode */

.dark{
    background:#121212;
    color:white;
}

.dark .project-card,
.dark .education-card{
    background:#1e1e1e;
    color:white;
}

.dark header{
    background:black;
}

/* Responsive */

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        margin-top:10px;
    }

    nav ul li{
        margin:10px 0;
    }

    .project-container{
        flex-direction:column;
        align-items:center;
    }

    .profile-pic{
        width:150px;
        height:150px;
    }
}